@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#logo {
  -webkit-user-drag: none;
}

::-webkit-scrollbar {
  display: none;
}

.tooltip {
  z-index: 100;
}

.driver-popover {
  font-family: "Bricolage Grotesque";
  /* background: #cccccc; */
  /* color: #f59e0b; */
}
.driver-popover-title {
  font-family: "Bricolage Grotesque";
  color: #f59e0b;
}
.driver-popover-description {
  font-family: "Bricolage Grotesque";
  /* color: #f59e0b; */
}

.squircle {
  /* width: 200px;
  height: 200px; */
  background: paint(squircle);
  --squircle-smooth: 1;
  --squircle-radius: 30px;
  --squircle-fill: #f59e0b;
}
body {
  line-height: 0.5 !important;
  /* font-stretch: ultra-expanded; */
}
#my-calendar {
  line-height: normal;
}

@layer utilities {
  .smoother {
    @apply transition-all duration-100
  }
  .smoother-2 {
    @apply transition-all duration-200
  }
  .smoother-3 {
    @apply transition-all duration-300
  }
  .smoother-5 {
    @apply transition-all duration-500
  }
  .smoother-i {
    @apply transition-all duration-[2000ms]
  }
  .bg-lumen-0 {
    @apply bg-white dark:bg-neutral-400
  }
  .bg-lumen-1 {
    @apply bg-neutral-50 dark:bg-neutral-500
  }
  .bg-lumen-2 {
    @apply bg-neutral-100 dark:bg-neutral-600
  }
  .bg-lumen-3 {
    @apply bg-neutral-200 dark:bg-neutral-700
  }
  .bg-lumen-4 {
    @apply bg-neutral-300 dark:bg-neutral-800
  }
  .bg-lumen-5 {
    @apply bg-neutral-400 dark:bg-neutral-900
  }
  .text-lumen-0 {
    @apply text-black dark:text-gray-100
  }
  .text-lumen-1 {
    @apply text-gray-950 dark:text-gray-200
  }
  .text-lumen-2 {
    @apply text-gray-800 dark:text-gray-300
  }
  .text-lumen-3 {
    @apply text-gray-700 dark:text-gray-400
  }
  .text-lumen-4 {
    @apply text-gray-600 dark:text-gray-500
  }
  .text-lumen-5 {
    @apply text-gray-500 dark:text-gray-600
  }
  .text-lumen-6 {
    @apply text-gray-400 dark:text-gray-700
  }
  .text-lumen-7 {
    @apply text-gray-300 dark:text-gray-800
  }
  .text-lumen-8 {
    @apply text-gray-200 dark:text-gray-900
  }
  .text-lumen-x {
    @apply text-gray-900 dark:text-gray-300
  }
}

.sk-chase {
  width: 10px;
  height: 10px;
  position: relative;
  animation: sk-chase 2.5s infinite linear both;
}

.sk-chase-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; 
  animation: sk-chase-dot 2.0s infinite ease-in-out both; 
}

.sk-chase-dot:before {
  content: '';
  display: block;
  width: 25%;
  height: 25%;
  background-color: #fff;
  border-radius: 100%;
  animation: sk-chase-dot-before 2.0s infinite ease-in-out both; 
}

.sk-chase-dot:nth-child(1) { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2) { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3) { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4) { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5) { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6) { animation-delay: -0.6s; }
.sk-chase-dot:nth-child(1):before { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2):before { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3):before { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4):before { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5):before { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6):before { animation-delay: -0.6s; }

@keyframes sk-chase {
  100% { transform: rotate(360deg); } 
}

@keyframes sk-chase-dot {
  80%, 100% { transform: rotate(360deg); } 
}

@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4); 
  } 100%, 0% {
    transform: scale(1.0); 
  } 
}